<mb-menu></mb-menu>
<div class="ui raised segment mainSegment">
  <div class="ui raised segment">
    <h2 class="ui header">Admin Page</h2>
    <div ng-repeat="user in users | orderBy:'name':true" class="ui segment" >
      <form>
        <div class="ui form">
          <div class="two fields">
            <div class="inline field">
              <div class="ui input">
                <label for="username">Username </label>
                <input type="text" id="username" ng-model="user.username"></input>
              </div>
            </div>
            <div class="inline field">
              <div class="ui input">
                <label for="name">Name </label>
                <input type="text" id="name" ng-model="user.name"></input>
              </div>
            </div>
          </div>
          <div class="inline field">
            <div class="ui toggle checkbox">
              <input id="isPoster{{user.id}}" type="checkbox" ng-model="user.isPoster"/>
              <label for="isPoster{{user.id}}">Is Poster</label>
            </div>
            <div class="ui toggle checkbox">
              <input id="isAdmin{{user.id}}" type="checkbox" ng-model="user.isAdmin"/>
              <label for="isAdmin{{user.id}}">Is Admin</label>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
