<mb-menu></mb-menu>
<div class="ui raised segment mainSegment">
  <div ng-form class="ui form" ng-hide="!roleIsAuthenticated(currentUser.role, roles.poster)" name="postForm"  novalidate >
    <div class="input">
      <input type="text" name="postHeader" ng-model="postHeader" placeholder="Post Title" required>
    </div>
    <div class="field">
      <textarea name="postText" ng-model="postText" placeholder="Post Text" required></textarea>
    </div>
    <button class="{{postForm.$invalid ? 'disabled' : ''}} green ui button "
            type="submit"
            ng-click="addPost(postText, postHeader)"
            ng-disabled="postForm.$invalid">ADD</button>
    {{console.log(postForm)}}
  </div>
  
  <div class="ui raised segment">
    <div ng-repeat="post in posts | orderBy:'createdAt':true" class="ui segment" >
      <div class="ui header">
        {{post.header}}
      </div>
      {{post.text}}
      <div ng-if="roleIsAuthenticated(currentUser.role, roles.poster)" class="ui right floated red icon button" ng-click="removePost(post.id)"><i class="trash icon" ></i></div>

    </div>
  </div>
</div>


