
<form ng-submit="postText = addPost(postText)">
  <div class="ui input">
    <input type="text" ng-model="postText">
  </div>

  <input class="ui button" type="submit" value="add">
</form>

<div class="ui list">
  <div ng-repeat="post in posts" class="item">

    <div class="content">
      <div class="header">
        Wat - {{post.id}}
      </div>
      <div class="description">
        {{post.text}}
        <i class="trash icon" ng-click="removePost(post.id)"></i>
      </div>
    </div>
</div>
