<div class="ui menu">

    <a mb-menu-item class="item" href="/">
        <i class="home icon"></i> Home
    </a>

    <a mb-menu-item class="item" href="/create" mb-required-role role="POSTER">
        <i class="pencil icon"></i>Write
    </a>
    <a mb-menu-item class="item" href="/admin" mb-required-role role="ADMIN">
        <i class="mail icon"></i> Admin
    </a>


    <a mb-menu-item class="item" href="/profile" mb-required-role role="USER">
        <i class="user icon"></i> Profile
    </a>


    <div class="right menu">
        <div ng-if="!currentUser.role" class="ui simple dropdown item">
            Sign In Or Create <i class="dropdown icon"></i>
            <div class="menu">
                <mb-login-buttons > </mb-login-buttons>
            </div>
        </div>
        <a mb-required-role role="USER" class="ui item" ng-click="logout()">Logout <i class="sign out icon"></i></a>
    </div>
</div>
