<div class="ui segment">

    <div class="ui icon buttons floated right" mb-required-role role="ADMIN" user-id="post.UserId" ng-show="editable() && !editToggle">
        <button class="ui right floated red  button" ng-show="removePost"   ng-click="removePost({id:post.id})">
            <i class="trash icon"></i>
        </button>
        <button class="ui right floated green  button" ng-show="editPost" ng-click="editToggle = !editToggle">
            <i class="edit icon"></i>
        </button>
    </div>
    <div ng-if="!editToggle">
        <div class="ui black block header">
            {{post.header}}
        </div>
        <div class="postText" btf-markdown="post.text">
        </div>

        <div class="ui segment" ng-if="post.comments">
            <div class="ui segment" ng-repeat="comment in post.comments | orderBy:'createdAt':false track by comment.id">
                {{ comment.text }}
                <div class="ui red icon button floated right" ng-show="editable() && removeComment" mb-required-role role="ADMIN" user-id="comment.UserId" ng-click="removeComment(comment.id)">
                    <i class="trash icon"></i>
                </div>
            </div>
        </div>
        <form ng-if="editable() && addComment" class="ui form" name="commentForm" novalidate>
            <input type="text" name="commentText" ng-model="temporaryAddComment.text" required>
            <button type="submit" class="{{ commentForm.$invalid ? 'disabled' : '' }} green ui button"
                    ng-click="addComment(temporaryAddComment)"
                    ng-disabled="commentForm.$invalid">
                Save
            </button>
        </form>
    </div>
    <form class="ui form" ng-if="editToggle" name="postForm" novalidate>
        <div class="input">
            <input type="text" name="postHeader" ng-model="post.header" placeholder="Post Title" required>
        </div>
        <div class="field">
            <textarea name="postText" ng-model="post.text" placeholder="Post Text" required></textarea>
        </div>
        <button type="submit"
                class="{{postForm.$invalid ? 'disabled' : ''}} green ui button"
                ng-click="editPost({id:post.id, userObj:post})"
                ng-disabled="postForm.$invalid">
            Save
        </button>
        <button type="submit"
                class="red ui button"
                ng-click="editCancel()">
            Cancel
        </button>
    </form>


</div>