<mb-menu></mb-menu>
<div class="ui raised segment mainSegment">
    <div class="ui raised segment">
        <h2 class="ui header">Profile Page</h2>

        <form name="profileForm" ng-submit="save()" novalidate>
            <div class="ui form">
                <div class="two fields">

                    <div class="inline field">
                        <div class="ui input">
                            <label for="username">Username </label>
                            <input type="text" id="username" ng-model="currentUser.username" placeholder="Username" required>
                        </div>
                    </div>

                    <div class="inline field">
                        <div class="ui input">
                            <label for="name">Name </label>
                            <input type="text" id="name" ng-model="currentUser.name" placeholder="Name">
                        </div>
                    </div>
                    <div class="inline fields">

                        <div class = "field">
                            <div ng-click="save(currentUser.username, currentUser.name)" class="ui green button">
                                <i class="save icon"></i>Save User Info
                            </div>
                        </div>

                        <div class="field">
                            <div ng-click="deleteModalShow = true" class="ui floated right red button">
                                <i class="remove sign icon"></i>Delete User
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </form>
    </div>
</div>
<div mb-modal="{{ deleteModalShow }}" class="ui small modal" on-hidden="deleteModalShow = false" on-approve="remove()">
    <i class="close icon"></i>
    <div class="header">
        Modal Title
    </div>
    <div class="content">
        <h2 class="ui icon header">
            Are you sure you want to leave us?
            <i class="icon circular emphasized frown"></i>
        </h2>

    </div>
    <div class="actions">
        <div class="ui button">Cancel</div>
        <div class="ui negative approve button"><i class="remove icon"></i>OK</div>
    </div>
</div>
