<div class="ui black block header">
<div class="ui menu">
    <div class="menu" >

      <a ng-repeat="menuItem in menuItems" href="/{{menuItem.link}}" class="item">{{menuItem.text}}</a>
      <a class="item" href="/">Back to Base</a>
    </div>
</div>
</div>

<div class="ui inverted black block header center aligned">
  <div class="ui header">'Allo, 'Allo! {{getCurrentNavItem()}}</div>
  <p class="lead">
    <img src="/images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p><a class="positive ui button" ng-href="#">Splendid!</a></p>
</div>

<div class="ui grid inverted green block header inverted segment">
  <div class="row">
    <div class="column">
    <div class="ui header">HTML5 Boilerplate</div>
    <p>
      HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
    </p>
  </div>
  </div>
  <div class="ui inverted divider"></div>
  <div class="row">
    <div class="column">
    <div class="ui header">Angular</div>
      <p>
        AngularJS is a toolset for building the framework most suited to your application development.
      </p>
    </div>
    </div>
  <div class="ui inverted divider"></div>
  <div class="row">
    <div class="column">
    <div class="ui header">Karma</div>
    <p>Spectacular Test Runner for JavaScript.</p>
  </div>
  </div>
</div>

<div class="ui footer">
  <p>♥ from the Yeoman team</p>
</div>
